In [1]:
import boto3
import pandas as pd
import os

from config import ACCESS_ID 
from config import ACCESS_KEY

In [5]:
s3_client = boto3.client(
    "s3",
    aws_access_key_id=ACCESS_ID,
    aws_secret_access_key= ACCESS_KEY)

response = s3_client.get_object(Bucket='group2-yrbs-data', Key='fake_data.csv')

status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")

df = pd.read_csv(response.get("Body"))
df

   This  Is   Fake  Data
0     3    1     1     1
1     4    2     0     3
2     6    8     9     6
3     1    9     5     8
4     7    4     3     6
5     8    2     5     3