In [8]:
import boto3
import pandas as pd
import os

from config import ACCESS_ID 
from config import ACCESS_KEY 
from config import db_password

from sqlalchemy import create_engine

ImportError: cannot import name 'db_password' from 'config' (/Users/emarieswenson/Desktop/Classwork/capstone-project/config.py)

In [5]:
# Retrieving data from S3 bucket and reading it into a dataframe
s3_client = boto3.client(
    "s3",
    aws_access_key_id=ACCESS_ID,
    aws_secret_access_key= ACCESS_KEY)

response = s3_client.get_object(Bucket='group2-yrbs-data', Key='fake_data.csv')

status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")

df = pd.read_csv(response.get("Body"))
df

   This  Is   Fake  Data
0     3    1     1     1
1     4    2     0     3
2     6    8     9     6
3     1    9     5     8
4     7    4     3     6
5     8    2     5     3

In [6]:
# Exporting the dataframe into Postgres (yrbs-database is database name in sql)
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/yrbs-database"
engine = create_engine(db_string)

# name is name of sql table
df.to_sql(name='fake_data', con=engine)

#if dataframe ends up being too big to export, look to module 8.5.1 for more instructions

NameError: name 'db_password' is not defined