In [5]:
import boto3
import pandas as pd
import os

from config import ACCESS_ID 
from config import ACCESS_KEY 
from config import db_password

from sqlalchemy import create_engine

In [6]:
# Retrieving data from S3 bucket and reading it into a dataframe
s3_client = boto3.client(
    "s3",
    aws_access_key_id=ACCESS_ID,
    aws_secret_access_key= ACCESS_KEY)

response = s3_client.get_object(Bucket='group2-yrbs-data', Key='fake_data.csv')

status = response.get("ResponseMetadata", {}).get("HTTPStatusCode")

df = pd.read_csv(response.get("Body"))
df

# Replace this with cleaned data

   This  Is   Fake  Data
0     3    1     1     1
1     4    2     0     3
2     6    8     9     6
3     1    9     5     8
4     7    4     3     6
5     8    2     5     3

In [7]:
host="yrbs-database2.cfajpmglo7yt.us-west-1.rds.amazonaws.com"
port=int(5432)
user="postgres"
passw= db_password
database="yrbs-database2"

mydb = create_engine("postgresql://" + user + ":" + passw + "@" + host + ":" + str(port) + "/" + database, echo=False)



df.to_sql(name='fake_data', con=mydb, if_exists = "replace", index=False)


#if dataframe ends up being too big to export, look to module 8.5.1 for more instructions

In [8]:
# next get data from database to df so that we can use it for machine learning

# pandas read_sql (pass in query and engine)