In [1]:
# import dependencies
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# load in processed data
file_path = 'data_pad.csv' #interpolate_method_1
df_survey = pd.read_csv(file_path)
df_survey.drop(columns='Unnamed: 0', inplace=True)
df_survey.head()

,RaceEth,Record,Age,Sex,Grade,Hispanic,Height,Weight2,Seatbelt_Use,Driving_DUI_Other,...,BMIPCT,Weight,Stratum,PSU,Suicide_attempt_dummy,white,AIN,asian,black,PI
0,7.0,1.0,5.0,2.0,2.0,1.0,1.63,54.89,4.0,1.0,...,46.88,1.66,213.0,57923.0,1.0,0,1,0,0,0
1,8.0,2.0,4.0,2.0,2.0,2.0,1.60,53.98,5.0,2.0,...,62.23,1.38,213.0,57923.0,1.0,0,1,0,0,1
2,8.0,3.0,4.0,1.0,2.0,2.0,1.68,43.09,4.0,1.0,...,0.59,1.49,213.0,57923.0,1.0,1,0,1,0,0
3,5.0,4.0,4.0,2.0,2.0,2.0,1.78,68.95,4.0,1.0,...,69.78,1.71,213.0,57923.0,1.0,1,0,0,0,0
4,6.0,5.0,5.0,2.0,2.0,1.0,1.78,58.97,4.0,1.0,...,16.73,1.66,213.0,57923.0,1.0,0,0,0,0,0

In [5]:
# dropping question 29 since it seems to rely on question 28
df_survey.drop(columns=['Suicide_attempt_injury'], inplace=True)
# Dropping record column
df_survey.drop(columns=['Record'], inplace=True)

In [7]:
# dropping the original target column
df_survey.drop(columns=['Suicide_attempt'], inplace=True)

In [8]:
# target standardization check
print(df_survey['Suicide_attempt_dummy'].max())
print(df_survey['Suicide_attempt_dummy'].min())

1.0
0.0

In [9]:
# checking column types
df_survey.dtypes

RaceEth     float64
Age         float64
Sex         float64
Grade       float64
Hispanic    float64
             ...
white         int64
AIN           int64
asian         int64
black         int64
PI            int64
Length: 107, dtype: object

In [10]:
df_survey.select_dtypes('object').head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [11]:
# temporarily drop nas
# df_survey.dropna().head()

In [13]:
# defining features
X = df_survey.copy()
X = X.drop('Suicide_attempt_dummy', axis=1)

In [14]:
# defining target
y = df_survey['Suicide_attempt_dummy'].ravel()
y[:5]

array([1., 1., 1., 1., 1.])

In [15]:
# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [16]:
# scale the data
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# create the random forest classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [18]:
# fit the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [19]:
# make predictions
predictions = rf_model.predict(X_test_scaled)

In [20]:
# calculate confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=['Actual False', 'Actual True'], columns=['Predicted False', 'Predicted True']
    )
cm_df

              Predicted False  Predicted True
Actual False              515             299
Actual True                10            2596

In [21]:
# display results
print('CONFUSION MATRIX')
display(cm_df)
print('CLASSIFICATION REPORT')
print(classification_report(y_test, predictions))

CONFUSION MATRIX

              Predicted False  Predicted True
Actual False              515             299
Actual True                10            2596

CLASSIFICATION REPORT
              precision    recall  f1-score   support

         0.0       0.98      0.63      0.77       814
         1.0       0.90      1.00      0.94      2606

    accuracy                           0.91      3420
   macro avg       0.94      0.81      0.86      3420
weighted avg       0.92      0.91      0.90      3420

In [22]:
# calculate feature importance 
importances = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
importances

[(0.0656737186805402, 'Condom_use'),
 (0.06034285796485131, 'Seatbelt_Use'),
 (0.05317625031046816, 'Tobacco_frequency_total'),
 (0.04894958461285657, 'Victim_rape'),
 (0.04108209976742026, 'Physical_fight'),
 (0.02823228268552291, 'Drug_use_frequency'),
 (0.02774480966616233, 'Sunscreen_use'),
 (0.027731250195055204, 'Carry_Weapon'),
 (0.024919072896693976, 'Victim_rape_relationship'),
 (0.0240721719726378, 'Tobacco_quit'),
 (0.02204971778840254, 'PSU'),
 (0.021207138337438546, 'Smoke_cigarette'),
 (0.018426182167009007, 'Stratum'),
 (0.018234934753128505, 'Victim_rape_12mos'),
 (0.01783584992695716, 'Carry_Gun'),
 (0.017393375509005642, 'Alcohol_acquire'),
 (0.01445726835679695, 'Sexual_orientation'),
 (0.014368714973319393, 'Tanning_Device_frequency'),
 (0.014058485341178881, 'Weight'),
 (0.01268179046715655, 'TV_frequency'),
 (0.012326121349487379, 'Nutrition_potatoes'),
 (0.011627150313049698, 'BMIPCT'),
 (0.011310608494041488, 'Grades_past_year'),
 (0.010438875755852325, 'Weight2'),
 (0.009318499907096952, 'Height'),
 (0.009185868592067454, 'Nutrition_allergies'),
 (0.008722650600675529, 'Nutrition_vegetables'),
 (0.008231721806905947, 'Suicide_consider'),
 (0.00817311277492734, 'Sports_participation'),
 (0.007617969617467362, 'Nutrition_juice'),
 (0.007617282035447217, 'Weight_self_description'),
 (0.007566724990360664, 'Asthma'),
 (0.007505938106312603, 'Nutrition_carrots'),
 (0.0074116957089231965, 'Tested_STI'),
 (0.007383418001937429, 'Suicide_plan'),
 (0.007302619030130217, 'Nutrition_salad'),
 (0.007194818525433148, 'Concussion'),
 (0.007115576029687468, 'Alcohol_initial_age'),
 (0.0068604544695149185, 'Driving_Distracted'),
 (0.006859319087586678, 'Prescription_abuse_frequency'),
 (0.006842045594105639, 'Smoke_initial_age'),
 (0.006662759132883727, 'Alcohol_total_drinks'),
 (0.006639288802223643, 'Nutrition_milk'),
 (0.006523496651607171, 'Nutrition_water'),
 (0.006502230469605013, 'Nutrition_soda'),
 (0.005982366706583866, 'Nutrition_sportsdrink'),
 (0.005904205537521994, 'Weight_loss'),
 (0.005808664572076543, 'Sex_sexual_partners'),
 (0.005727836397991344, 'RaceEth'),
 (0.005698593978163726, 'Age'),
 (0.005511526737105088, 'Nutrition_fruit'),
 (0.005502365797159922, 'Drug_hallucinogenic'),
 (0.005415632838048903, 'Marijuana_synthetic'),
 (0.005148930744867574, 'Nutrition_breakfast'),
 (0.005085808857381627, 'First_sexual_encounter'),
 (0.005009222761433857, 'English_fluency'),
 (0.0049503314855980154, 'Vape_acquire'),
 (0.004896949233237447, 'Marijuana_initial_age'),
 (0.0048345395361309, 'Sex_alcohol_drugs'),
 (0.004821919175467305, 'Sexually_active'),
 (0.004805000937491242, 'Victim_violence_relationship'),
 (0.0047444758912882435, 'Grade'),
 (0.004692775595401489, 'Video_Games_frequency'),
 (0.004680775362473871, 'Alcohol_drink'),
 (0.004617664803676469, 'Tested_HIV_Aids'),
 (0.004478514373903743, 'Excercise_frequency'),
 (0.004383403131792936, 'Dentist_visit'),
 (0.004326004396486202, 'white'),
 (0.004303869545449867, 'Difficult_focus'),
 (0.004232262478918285, 'Sex_birth_control'),
 (0.004203300600024756, 'Bullied_online'),
 (0.004178164181672745, 'Vape_frequency'),
 (0.0041083592603718, 'Drug_ecstasy'),
 (0.0040524578874322785, 'Drug_acquire_school'),
 (0.003963987553442397, 'Driving_DUI_Self'),
 (0.003900878747169205, 'Sleep_school_night'),
 (0.003882069384465032, 'Marijuana_use'),
 (0.0038647891443299403, 'Bullied_school'),
 (0.0038580976232637006, 'Hopeless'),
 (0.003814874567425888, 'Vape_use'),
 (0.0035715571850725896, 'Marijuana_frequency'),
 (0.0035419696359742323, 'Number_sexual_partners_3mo'),
 (0.003459845212679407, 'Physical_fight_school'),
 (0.0032660215903942413, 'Alcohol_four_drinks'),
 (0.0031408372283814358, 'Number_sexual_partners'),
 (0.003034457919599707, 'Excercise_strength'),
 (0.0026890414969884284, 'Phys_Ed_frequency'),
 (0.0025999145061316505, 'Driving_DUI_Other'),
 (0.002573435025587122, 'Prescription_abuse'),
 (0.0025596216953498066, 'School_Unsafe'),
 (0.0024339684997121106, 'Hispanic'),
 (0.002281831822623165, 'Drug_meth'),
 (0.0022755166075177843, 'black'),
 (0.002186082785656535, 'Tobacco_frequency_days'),
 (0.0021581918235013373, 'Cigars_frequency'),
 (0.002110694017138206, 'Drug_steroids'),
 (0.0020861544011217233, 'Sex'),
 (0.0020559037063891034, 'Drug_needle'),
 (0.0020551930076275894, 'Drug_sniff_glue'),
 (0.0018922919987539265, 'School_physical_condition'),
 (0.0017402369341231502, 'Tobacco_chew_frequency'),
 (0.0016791441443031359, 'Carry_Weapon_School'),
 (0.0012029252922992992, 'Drug_heroin'),
 (0.0009481690228178785, 'AIN'),
 (0.0008862151953441687, 'asian'),
 (0.0006023571997321235, 'PI')]

In [24]:
importances = pd.Series(importances)
importances.to_csv('feature_importance.csv', index=False, header=False)